In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('d.csv')

In [3]:
# Dropping index columns
df = df.drop('Unnamed: 0',axis =1 )

In [4]:
# Songs that are played more than 5 seconds
df = df [df['msPlayed'] > 5000 ]

In [9]:
df['sigmaritan'].unique().shape[1]

IndexError: tuple index out of range

In [5]:
df

,sigmaritan,endTime,artistName,trackName,msPlayed
0,alex_clefos,2021-05-06 23:04,Shinedown,My Name (Wearing Me Out),83780
1,alex_clefos,2021-05-07 00:29,Disturbed,Deify,1440453
3,alex_clefos,2021-05-07 00:46,Disturbed,Deify,1002243
5,alex_clefos,2021-05-07 00:57,Disturbed,Deify,664190
7,alex_clefos,2021-05-07 01:06,Disturbed,Indestructible,543770
...,...,...,...,...,...
351885,vladimir_stojoc,2022-04-20 17:40,Lil Nas X,INDUSTRY BABY (feat. Jack Harlow),212352
351886,vladimir_stojoc,2022-04-20 17:43,bbno$,resume,164426
351887,vladimir_stojoc,2022-04-20 17:46,YUNGBLUD,braindead!,163293
351888,vladimir_stojoc,2022-04-20 17:49,Rich Brian,Getcho Mans,211306
351889,vladimir_stojoc,2022-04-20 17:53,Rich Brian,New Tooth,220000

In [9]:
arr =  df[['artistName','trackName']].copy().values

In [10]:
arr

array([['Shinedown', 'My Name (Wearing Me Out)'],
       ['Disturbed', 'Deify'],
       ['Disturbed', 'Deify'],
       ...,
       ['YUNGBLUD', 'braindead!'],
       ['Rich Brian', 'Getcho Mans'],
       ['Rich Brian', 'New Tooth']], dtype=object)

In [11]:
new_arr = list()
for x in arr:
    new_arr.append(np.char.add(x[0], " #$ " + x[1]))

In [12]:
unq_arr = np.unique(new_arr)

In [13]:
unq_arr

array(['!!! #$ So We Can Fuck', '#2Mashi #$ Босая',
       '#2Mashi #$ Мама, я танцую', ..., '缺省 #$ 一日入冬',
       '荒山茉莉 Molly in Mountain #$ 水沒之都 A Drowning City',
       '西田和枝社中 #$ 傀儡謡_新世に神集ひて'], dtype='<U165')

In [14]:
new_df = pd.DataFrame(columns = ['artistName', 'trackName'])

In [15]:
new_df = pd.DataFrame(columns = ['artistName', 'trackName'])
for x in unq_arr:
    new_df = new_df.append( { 'artistName': x[ : x.find('#$') - 1], 'trackName' : x[ x.find('#$') + 3 :] }, ignore_index = True )

In [28]:
new_df.iloc[433,0]

'A Tribe Called Quest'

In [16]:
list ( df[ (df['artistName'] == new_df.iloc[433,0]) & (df['trackName'] == new_df.iloc[433,1]) ]['sigmaritan'] )

['nicolae_gherman']

In [ ]:
df['sigmaritan'].value_counts()

In [25]:
new_df['artistName'].value_counts()

Fearless Motivation    347
Disturbed              110
PJ Harvey              107
Kanye West             100
Eminem                  92
                      ...
Jhené Aiko               1
Jex Thoth                1
Jethro Heston            1
Jet                      1
西田和枝社中                   1
Name: artistName, Length: 9884, dtype: int64

In [41]:
new_df['artistName'].value_counts()

Fearless Motivation    347
Disturbed              110
PJ Harvey              107
Kanye West             100
Eminem                  92
                      ...
Jhené Aiko               1
Jex Thoth                1
Jethro Heston            1
Jet                      1
西田和枝社中                   1
Name: artistName, Length: 9884, dtype: int64

In [30]:
a = df [ df['artistName'] == 'Disturbed']

In [33]:
a['sigmaritan'].value_counts()

alex_clefos        9937
vasile_papaluta     140
nicolae_gherman       6
marius_sclearuc       1
Name: sigmaritan, dtype: int64